:root {
    --body-bg:#121212;
    --section-bg: #121212;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family:-apple-system,BlinkMacSystemFont,
                "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",
                sans-serif,"Apple Color Emoji","Segoe UI Emoji",
                "Segoe UI Symbol","Noto Color Emoji" ;
    background-color: var(--body-bg);
    color:white;
}

header {
    background-color: var(--section-bg);
    display: flex;
    justify-content: space-between;
}

.lg-header {
    display: none;
}

.burger {
    color: white;
    font-size: 1.5em;
    padding: 0.3em 0.5em;
}

.drop-down {
    font-size: 1em;
    color: white;
    background-color: #7a7b7d;
    position: fixed;
    top:2.8em;
    right: 0.5em;
    padding: 1em 1.5em 1em 0.8em;
    border-radius: 00.3em;
    z-index: 1000;
}

.hero img {
    height: 70vh;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(-40%);
}

.carousel-control-next, .carousel-control-prev {
    background-color: transparent;
    border: none;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    flex-wrap: wrap;
}

.card-body {
    background-color: #343a40;
}

footer {
    background-color: var(--section-bg);
}

.mobile-footer {
    display: flex; 
    flex-direction: column;
}

.lg-footer {
    display: none;
}

.footer-links .accordion-button {
    color: white;
}

.footer-links .accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.footer-links .accordion-button:not(.collapsed) {
    background-color: transparent;
}

.copyright {
    display: flex;
    flex-wrap: wrap;
    font-size: 00.7em;
}

.copyright a {
    padding: 0.5em;
    text-decoration: none;
    color: white;
}

@media only screen and (min-width: 768px) {
    /* make burger disappear */
    .mobile-header {
        display: none;
    }
    .lg-header {
        display: flex;
        padding: 0em 2em;
        height: 8vh;
        align-items: center;
        font-size: 1.4em;
    }
    .home {
        padding-left: 2em;
    }

    .account {
        padding-right: 4em;
    }

    .lg-header .btn-secondary, .btn-secondary:focus {
        background-color: transparent;
        border-color: transparent;
        font-size: 1.05em;
    }

    .hero img {
        height: 90vh;
        width: auto;
        margin-left: none;
        margin-right: none;
        transform: none;
    }

    .carousel-caption {
        position: absolute;
        top: 15vh;
        text-align: left;
        width: 50em;
    }

    .carousel-caption h5 {
        font-size: 5em;
        text-align: left;
    }

    .cards {
        transform: translateY(-4.5em);
        margin-right: 6em;
        margin-left: 6em;
    }

    .mobile-footer {
        display:none
    }

    .lg-footer {
        display: grid;
        align-items: stretch;
        justify-items: stretch;
        grid-template-columns: repeat(4, minmax(10em,1fr));
        grid-template-rows: 20em 3em;
        grid-column-gap: 0;
        margin: 0 5em;
    }
    .copyright {
        border-top: 1px solid white;
        width: 100%;
        grid-column: span 4;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .lg-footer li {
        list-style-type: none;
    }
}

/* gallery photos */

.gallery {
    border: 3px dotted chartreuse;
    display: flex;
    margin: 6em;

}
